node_modules
dist
dist-ssr
*.local
.vite
*.tsbuildinfo
vite.config.d.ts
vite.config.js

# editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
